examples/staleness-and-quorum.json
[
  {
    "id": "c-000i",
    "type": "comment",
    "name": "Staleness + quorum: the trust features",
    "info": "Two temperature sensors with a 15-second staleness window and a quorum of 2 fresh sources. Both sensors are declared as *Expected Sources*, so they are visible in every snapshot from deploy — press query before any reading and `msg.sources` shows them as never-seen (`seen: false`).\n\n**Try this sequence:**\n1. Press query first — state is `waiting`, both expected sources never-seen.\n2. Press temp1 = 70 and temp2 = 70 — quorum is regained and **Trigger** fires (mean 70 ≥ 60).\n3. Now wait 15 seconds without pressing anything. On output 4 you'll see `sourcestale` for each sensor (note the first one still shows `quorum: true` — envelopes reflect the instant of dispatch; the `quorumlost` that follows is the correction).\n4. Press query — `consensusState` is still `triggered` with `quorum: false`: the **Hold** policy keeps the last consensus when trust is lost. (Reconfigure *On Quorum Lost While Latched* to **Release** and repeat: quorum loss then releases immediately on output 2 with `releaseReason: \"quorumlost\"`.)\n5. Press both sensors again — `sourcerecovered` and `quorumregained` on output 4, no duplicate Trigger (still latched).\n\nThis is the failure mode plain averaging nodes hide: a dead sensor's last value skewing the result forever.",
    "x": 150,
    "y": 120,
    "wires": []
  },
  {
    "id": "i-000j",
    "type": "inject",
    "name": "query",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "query",
    "payloadType": "str",
    "x": 170,
    "y": 200,
    "wires": [["sc-000h"]]
  },
  {
    "id": "i-000k",
    "type": "inject",
    "name": "temp1 = 70",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "temp1",
    "payload": "70",
    "payloadType": "num",
    "x": 170,
    "y": 260,
    "wires": [["sc-000h"]]
  },
  {
    "id": "i-000l",
    "type": "inject",
    "name": "temp2 = 70",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "temp2",
    "payload": "70",
    "payloadType": "num",
    "x": 170,
    "y": 320,
    "wires": [["sc-000h"]]
  },
  {
    "id": "i-000m",
    "type": "inject",
    "name": "temp1 = 40",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "temp1",
    "payload": "40",
    "payloadType": "num",
    "x": 170,
    "y": 380,
    "wires": [["sc-000h"]]
  },
  {
    "id": "i-000n",
    "type": "inject",
    "name": "temp2 = 40",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "temp2",
    "payload": "40",
    "payloadType": "num",
    "x": 170,
    "y": 440,
    "wires": [["sc-000h"]]
  },
  {
    "id": "sc-000h",
    "type": "sensor-consensus",
    "name": "Temp consensus (quorum 2, stale after 15s)",
    "typemode": "numeric",
    "aggregation": "mean",
    "triggerdir": "above",
    "triggervalue": "60",
    "releasevalue": "55",
    "boolrule": "majority",
    "boolrulen": "1",
    "boolreleaserule": "sameastrigger",
    "boolreleasen": "1",
    "truevalues": "",
    "falsevalues": "",
    "expectedsources": "temp1, temp2",
    "quorum": "2",
    "stalewindow": "15",
    "stalewindowunits": "Second",
    "quorumlostpolicy": "hold",
    "emitonchange": true,
    "heartbeatinterval": "0",
    "heartbeatintervalunits": "Second",
    "persist": false,
    "x": 480,
    "y": 290,
    "wires": [["d-000d"], ["d-000e"], ["d-000f"], ["d-000g"]]
  },
  {
    "id": "d-000d",
    "type": "debug",
    "name": "1 Trigger",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 200,
    "wires": []
  },
  {
    "id": "d-000e",
    "type": "debug",
    "name": "2 Release",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 260,
    "wires": []
  },
  {
    "id": "d-000f",
    "type": "debug",
    "name": "3 Query",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 320,
    "wires": []
  },
  {
    "id": "d-000g",
    "type": "debug",
    "name": "4 Events",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 380,
    "wires": []
  }
]
